@import 'tailwindcss';
@plugin '@tailwindcss/typography';


.vert-rl {
    writing-mode: vertical-rl;
    float: right;
}


.vert-rl .status-underline::after {
content: "";
position: absolute;
width: 2px;
height: calc(100% - 4px);
top: 50%;
left:-4px;
transform: translateY(-50%);

}

:not(.vert-rl) .status-underline:not(.vert-rl .status-underline)::after {
/* .status_underline::after { */
    content: "";
    position: absolute;
    height: 2px;
    border-radius: 2px;
    width: calc(100% - 4px);
    bottom: -2px;
    left: 50%;
    transform: translate(-50%);
}

.known::after {
    background-color: blueviolet;
}

.unknown::after {
    background-color: red;
}